@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Poppins:ital,wght@0,100;1,100&display=swap');

h1, p {
  font-family: 'Poppins', sans-serif;
}

body{
  margin: 0;
}

*{
  box-sizing: border-box;
}


nav{
  display: flex;
  height: 70px;
  background-color: rgb(248, 250, 250);
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  padding: 20px 36px;
}

.gray{
  color: rgb(179, 178, 178);
}

.bold{
  font-weight: bold;
}

.logo{
  max-width: 100px;
}

section{
  padding: 20px;
}

.hero{
  display: flex;
  flex-direction: column;
}

.hero .hero-image{
  max-width: 400px;
  align-self: center;
}

.hero .hero-header{
  margin-bottom: 16px;
  font-size: 30px;
  font-weight: bolder;
}

.hero .hero-p{
  margin-top: 0px;
}

.card{
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-list{
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.card-title{
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .card-image{
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
}

.card-stats{
  align-items: center;
}

.card .star{
  width: 14px;
  height: 14px;
}

.sold-out{
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: #fff;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}